body {
    background-color: #ffffff;
    color: #000000;
    font-family: sans-serif;
}

header {
    height: 200px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

main {
    padding: 20px;
}

p {
    font-size: 18px;
}

form {
    width: 50%;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
}

input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

#btnlist {
    width: 100%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;  
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

.tabela {
  display: table;
  margin: 0 auto;
  width: 500px;
}

.tabela tr, tabela td {
  border: 1px solid black;
  padding: 10px;
}

.tabela tr {
  background-color: #ccc;
}

.tabela tr:nth-child(even) {
  background-color: #eee;
}

.tabela td.id {
  width: 100px;
}

.tabela td.nome {
  width: 200px;
}

.tabela td.dia {
  width: 100px;
}

.tabela td.mes {
  width: 100px;
}